<%= simple_form_for(@bar) do |f| %>

  <div class="margin-left">
    <h3 class="white-text"><%= f.label :title, "Bar Title" %></h3>

    <%= f.text_field :title, class: "text-input" %>
    <br/>

    <%= f.button :submit, class: "button green" %>
  </div>
<% end %>
