<%= simple_form_for(@bar) do |f| %>

  <div class="form-input-container">
    <%= f.input :title, class: "form-input" %>
  </div>


  <div class="button-container">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
