<%= render "/layouts/header", heading: 'Edit ' + @bar.title, subText: false, size: 'small' %>

<%= render 'form' %>
<!-- <%= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Really???' }, class: "button red" %> -->

<!-- <div class="beer-image">
  <div class="margin-left">
    <h1 class="section-header">Editing Bar</h1>

    <br/>
    <div class="margin-left">
      <p>
        <%= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Really???' }, class: "button red" %>
      </p>
    </div>
  </div>

</div> -->
