<div class="beer-image">
  <div class="margin-left">
    <h1 class="section-header">Registered Accounts</h1>
  </div>

  <div class="margin-left">
    <ul>
      <% @bars.each do |bar| %>
      <li class="white-text"><h2 class="white-text"><%= link_to bar.title, bar %></h2>
        <div class="margin-little-left">
          <p class="bar-tap-number"><%= Tap.where(bar_id:bar.id).count %> Brew Cards<p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
</div>
