<div class="bar-image">
  <div class="margin-left">
    <h1 class="section-header">Edit Account</h1>
    <%= render 'form' %>
    <% if @user.persisted? && @user.subscription_id != "" %>
      <div class="margin-left">
        <%= button_to "Edit Donation", "https://brewcards.herokuapp.com/charges/edit", method: :get, class: "button blue white-text" %>
      </div>
    <% end %>
  </div>
</div>
