<div class="page-container">

  <h1>Editing Card</h1>

  <%= render 'form' %>

  <div>
    <p>
      <%= link_to 'Destroy', [@bar,@tap], method: :delete, data: { confirm: 'Are you sure?' }, class: "button red" %></p>
    </div>
</div>  
