/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 *= require jquery-ui/slider
 */

 @media (min-width: 950px) {
  #screen-warning {
    display: none;
  }
}

@media (max-width: 950px) {
 #my-content {
   display: none;
 }
}

body {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  opacity:0.3;
}

.page-container {
  padding: 20px 40px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white-text {
  color: white;
}

.black-shadow {
  text-shadow: 2px 2px black;
}

.button {
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.small-button {
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}


.text-input {
  height: 20px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.text-field {
  height: 100px;
  width: 500px;
  padding: 10px;
  font-size: 35px;
  margin-bottom: 20px;
}

.section-header {
  margin: 0px;
  padding: 10px 0px 20px 0px;
  font-size: 35px;
  color: white;
}

.margin-left {
  margin-left: 50px;
}

.margin-top {
  margin-top: 10px;
}

.margin-little-left {
  margin-left: 20px;
}

.center-all {
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 5px;
}

.alert {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.green-opacity {
  background-color: rgba(0, 255, 0, .5);
}

.red-opacity {
  background-color: rgba(255, 0, 0, .5);
}

.cat-pants-button {
  margin: 0px 10px;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.cat-pants-button-container {
  display: flex;
  flex-direction: row;
}
