/*
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 *= require jquery-ui/slider
 *= require colors
 */

@import "colors";
@import "font-awesome";

.accent-color {
  color: $accent-color;
}

.accent-button {
  background-color: $accent-color;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}

.red-background {
  background-color: $primary-red;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 20px;
}

.margin-right {
  margin-right: 15px;
}

body {
  margin: 0px;
  background-color: $page-background;
}

a:hover {
  opacity:0.3;
}
