.bar-tap-number {
  font-family: fantasy;
}

.bar-taps-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar-tap-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(255,255,255,.1);
  border-radius: 10px;
}

.bar-tap-edit-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
// same styles as #title-preview in taps.scss
.bar-tap-title {
  text-align: center;
  font-size: 40px;
}
// same style as #description preview in taps.scss
.bar-tap-description {
  text-align: center;
  font-size: 30px;
}

.bar-image {
  background-image: image-url('background.jpg');
  background-repeat: repeat-y;
  min-height: 1000px;
}

.beer-image {
  background-image: image-url('beerglass.jpg');
  background-repeat: repeat-y;
  min-height: 1000px;
}

.bars-columns {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar-list-container {
  width: 48%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(152,152,152,.3);
  text-align: center;
}

.bar-title {
  color: #ffcc00;
  margin: 0px;
  padding: 10px 0px 20px 0px;
}

.bar-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// *****************************************************  RIBBON *********************************
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #087F8F;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #087F8F;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #087F8F;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #087F8F;
}

// *************************************************  MODAL **************************************
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#modal-header {
  text-align: center;
  margin-bottom: 10px;
}
