.bar-tap-number {
  font-family: fantasy;
}

.bar-taps-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar-tap-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(255,255,255,.1);
  border-radius: 10px;
}

.bar-tap-edit-container {
  display: flex;
  justify-content: space-around;
}
// same styles as #title-preview in taps.scss
.bar-tap-title {
  text-align: center;
  font-size: 40px;
}
// same style as #description preview in taps.scss
.bar-tap-description {
  text-align: center;
  font-size: 30px;
}

.bar-image {
  background-image: image-url('background.jpg');
  background-repeat: repeat-y;
  min-height: 1000px;
}

.beer-image {
  background-image: image-url('beerglass.jpg');
  background-repeat: repeat-y;
  min-height: 1000px;
}

.bars-columns {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar-list-container {
  width: 48%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(152,152,152,.3);
  text-align: center;
}

.bar-title {
  color: #ffcc00;
  margin: 0px;
  padding: 10px 0px 20px 0px;
}

.bar-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
