@import "colors";
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;


.landing-header {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  h1 {
    color: $primary-color-text;
    font-size: 5em;
    margin: 0px;
    text-align: center;
  }
  h3 {
    margin: 0px;
    color: $primary-color-text;
    text-align: center;
    font-size: 2em;
  }
}

.divider {
  height: 3px;
  background-color: $divider-color;
  width: 100%;
}

.secondary-text {
  color: $secondary-text-color;
}

.info-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $divider-color;
  padding: 10px;
  .info-row-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  };
  .info-row-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  };
  .info-row-line-one {
    color: $primary-color-text;
    font-size: 2em;
  };
  .info-row-line-two {
    color: $secondary-text-color;
    font-size: 1.5em;
  }
}

.footer-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  .footer-button {
    background-color: $accent-color;
    border-radius: 5px;
    padding: 10px;
  };
  p {
    color: white;
  }
}
