@import "colors";
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

.nav-bar-logo {
  height: 30px;
  width: 30px;
}

.navbar-main {
  background-color: $primary-color-dark;
  display: flex;
  flex-direction: row;
  padding:10px 0px 10px 10px;
};

.nav-header {
  display: flex;
  flex-direction: row;
  a {
    display: flex;
    align-items: center;
  }
};

.nav-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
};

.nav-gray-text {
  color: $secondary-text-color;
  margin-left: 15px;
};
