@import "colors";
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

.nav-bar-logo {
  height: 30px;
  width: 30px;
}

.navbar-main {
  background-color: $primary-color-dark;
  display: flex;
  flex-direction: row;
  padding:10px 0px 10px 10px;
  a {
    text-decoration: none;
  }
};

.nav-header {
  display: flex;
  flex-direction: row;
  a {
    display: flex;
    align-items: center;
  }
};

.nav-body {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
};

.nav-gray-text {
  color: $secondary-text-color;
  margin-left: 15px;
};

.no-dropdown {
  display: none;
  @media (min-width: 700px) {
    display: flex;
    flex: 1;
  }
}

.dropdown {
  display: flex;
  flex: 1;
  @media (min-width: 700px) {
    display: none;
    flex: 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $primary-color-light;
  min-width: 160px;
  z-index: 1;
};

.dropdown-content a {
  color: $secondary-text-color;
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
