@import "colors";
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #009688;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

.navbar-main {
  background-color: $primary-color-dark;
  display: flex;
  flex-direction: row;
  padding:10px;
  position: fixed;
  width: 100%;
};

.nav-header {
  display: flex;
  flex-direction: row;
  flex:1;
  a {
    display: flex;
    align-items: center;
  }
};

.nav-body {
  display: flex;
  flex-direction: row;
  flex:3;
  justify-content: flex-end;
};

.nav-button {
  background-color: $accent-color;
  margin-right: 30px;
  padding:5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $primary-text-color;
  display: flex;
  align-items: center;
  a {
    color: white;
  };
};
