.tap-maker {
  display: flex;
  flex-direction: row;
}

.tap-maker-col-one {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.color-pickers {
  display: flex;
  flex-direction: row;
}

.color-picker {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.image-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 200px;
}

.radio-button {
  margin-right: 10px;
}

.checkbox {
  font-size: 20px;
}

#recipe {
  height: 150px;
  width: 60%;
}


// ****************************************  TAP PREVIEW CARD **********************************
.tap-preview {
  position: fixed;
  right: 40px;
  top: 100px;
  width: 30%;
  height: 500px;
}

.preview-card {
  height: 500px;
  width: 310px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: flex;
  flex: 1;
  padding: 0px 5px;
  overflow: hidden;
}

#title-preview {
  text-align: center;
  font-size: 40px;
}

.card-hops {
  display: flex;
  flex: .5;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 5px;
}

.card-hop-pic {
  width: 30px;
  height: 30px;
}

.card-picture {
  display: flex;
  flex: 1;
}

.card-description {
  display: flex;
  flex: 1.5;
  padding: 0px 5px;
  overflow: hidden;
}

#description-preview {
  text-align: center;
  font-size: 30px;
}
