.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 125px;
  width: 200px;
  margin-left: 25px;
}

.radio-button {
  margin-right: 25px;
}
